<div class="ban-hang">
<input #box (keyup)="filterTest1(box.value)">
<button (click)="sortData(sortName)">Sort Name</button>
<button (click)="sortData(sortPrice)">Sort Price</button>
<mat-grid-list cols="4" rowHeight="150px">
  <mat-grid-tile *ngFor="let data of dataSource1"  >
    <table>
      <tr>
        <img src="img_avatar2.png" alt="Avatar" class="avatar">
      </tr>
      <tr>
        <td>{{data.name}}</td>
      </tr>
      <tr>
        <td>Gia:</td>
        <td>{{data.price}}</td>
      </tr>
      <tr>
        <td>Mieu ta:</td>
        <td>{{data.mieuTa}}</td>
      </tr>
      <button>Mua</button>
    </table>
  </mat-grid-tile>
</mat-grid-list>
<button (click)="sortData(sortPrice)">Truoc</button>
&nbsp;
&nbsp;
<button (click)="sortData(sortPrice)">Sau</button>
</div>
