<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-bar w3-blue">
  <a *ngIf="!trangThaiDangNhap1()" class="w3-bar-item w3-button w3-right" routerLink="/DangNhap" >Đăng nhập</a>
  <a *ngIf="trangThaiDangNhap1()" class="w3-bar-item w3-button w3-right">{{tenDangNhap}}</a>
  <app-gio-hang *ngIf="trangThaiDangNhap1()" [dsSanPham]="dsSp"></app-gio-hang>
</div>
<div class="ban-hang">
<input placeholder="Tim kiem" #box (keyup)="filterTest(box.value)">
<button (click)="sortData(sortName)">Sort Name</button>
<button (click)="sortData(sortPrice)">Sort Price</button>
<mat-grid-list cols="4" rowHeight="150px">
  <mat-grid-tile *ngFor="let data of itemPage"  >
    <table>
      <tr>
        <td colspan="2" class="text-center-row"><img src="img_avatar2.png" alt="Avatar" class="avatar"></td>
      </tr>
      <tr>
        <td>Tên : {{data.name}}</td>
      </tr>
      <tr>
        <td>Giá : </td>
        <td>{{data.price}}</td>
      </tr>
      <tr>
        <td>Miêu tả : </td>
        <td>{{data.mieuTa}}</td>
      </tr>
      <tr>
        <td></td>
        <td class="text-center-row"><button (click)="ThemSp(data.id)">Mua</button></td>
      </tr>

    </table>
  </mat-grid-tile>
</mat-grid-list>
<button (click)="TrangTruoc()">Trước</button>
&nbsp;
&nbsp;
<button (click)="TrangSau()">Sau</button>
</div>
